label {
    display: block;
}    

textarea {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 1em;
    
}

.error {
    margin-top: -20px;
    padding: .5em;
    display: flex;
    font-size: .9em;
    margin-bottom: 20px;
}


.cta {
    background: #1976d2;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;
}

.strong {
    display: block;
}

:host {
    display: block;
  }
  
.open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }