<h2>Products</h2>
 
<!-- for any item, the app do this: -->
<div *ngFor="let product of products; let i = index">

    <h3>
        <!-- binding property-->
        <a [title]="product.name + ' detail'" [routerLink]="['/products', i]"> 
            <!-- interpolation -->
            {{ product.name }}
        </a>       
    </h3>

    <!-- if any item select before ... do this: -->
    <p *ngIf="product.description">
    Description: {{ product.description }}F
    </p>

    <!-- Event binding -->
    <button (click)="share()"> Share</button>

    <app-product-alerts 
        [product]="product"
        (notify)="onNotify()">
    </app-product-alerts>

</div>

<ng-container> 
    <ul *ngIf="users">
    <li *ngFor=" let user of users">
        <img [src]="user.avatar">
        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
    </li>
</ul>
</ng-container>

